header{
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas:
    "logo branding sociales contacto"
    "menu menu menu menu";
  gap: 12px;
  padding: 20px;
  background-color: rgb(229,229,255);
}

header figure.logo{
  grid-area: logo;
  width: 120px;
}

header figure.logo img{
  width: 100%;
  height: auto;
}

header .branding{
  grid-area: branding;
  display: grid;
  align-items: center;
}

header .branding .titulos{
  margin-left: 4%;
}

header nav.sociales{
  grid-area: sociales;
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  align-items: center;
  column-gap: 14px;
  padding-right: 10px;
}

header nav.sociales img{
  width: 28px;
  height: 28px;
}

header .telefono{
  grid-area: contacto;
  display: inline-block;
  font-size: 16px;
  justify-self: end;
  align-self: center;
  margin-right: 8px;
}

header nav.login{
  grid-area: contacto;
  display: inline-block;
  font-size: 16px;
  justify-self: end;
  align-self: center;
}

header nav.login .telefono{
 display: none;
}
header .direccion{
  display: none;
}

header nav.menu-principal{
  grid-area: menu;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 10px;
}

header nav.menu-principal button{
  padding: 12px 22px;
  font-size: 16px;
  background-color: #c8e6c9;
  border: none;
  border-radius: 8px;
  text-align: center;
}

header i.fa-bars{
  display: none;
}
