*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(229,229,255);
    padding: 10px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
        "sociales sociales sociales"
        "login login login"
        "logo branding branding"
        "direccion direccion bars"
        "menu menu menu";
    gap: 12px;
    width: 100%;
}

header nav.sociales{
    grid-area: sociales;
    padding: 6px;
    font-size: 14px;
    justify-self: center;
    text-align: center;
}

header nav.login{
    grid-area: login;
    padding: 6px;
    font-size: 15px;
    justify-self: center;
    text-align: center;
}

header figure.logo{
    grid-area: logo;
    width: 60px;
}

header figure.logo img{
    width: 100%;
    height: auto;
    display: block;
}

header .branding{
    grid-area: branding;
    display: grid;
    align-items: center;
}

header .branding .titulos{
    color: black;
    padding: 8px;
    font-size: 16px;
    line-height: 1.2;
    text-align: left;
}

header .direccion{
    grid-area: direccion;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

header .direccion button{
    padding: 12px 22px;
    font-size: 18px;
    background-color: #c8e6c9;
    border: none;
    border-radius: 8px;
    line-height: 1.4;
    text-align: center;
    width: 100%;

}

header i.fa-bars{
    grid-area: bars;
    justify-self: end;
    font-size: 36px;
    padding: 12px 14px;
    border-radius: 8px;
}

header nav.menu-principal{
    grid-area: menu;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    align-items: center;
}

header nav.menu-principal button{
    padding: 12px 22px;
    font-size: 16px;
    background-color: #c8e6c9;
    border: none;
    border-radius: 8px;
    text-align: center;
}

