header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "login sociales"
    "branding direccion"
    "menu menu";
  gap: 12px;
  padding: 20px;
  background-color: rgb(229,229,255);
}

header nav.login{
  grid-area: login;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  font-size: 16px;
}

header nav.sociales{
  grid-area: sociales;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  font-size: 16px;
}

header .branding{
  grid-area: branding;
  display: flex;
  align-items: center;
  gap: 16px;
}

header .branding .logo img{
    width: 180%;
    height: auto;
}

header .branding .titulos{
  margin-left: 4%;
}


header .direccion{
  grid-area: direccion;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  align-items: center;
}

header .direccion button{
  padding: 8px 16px;
  font-size: 14px;
  background-color: #c8e6c9;
  border: none;
  border-radius: 8px;
  text-align: left;
}

header i.fa-bars{
  display: none;
}

header nav.menu-principal{
  grid-area: menu;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  padding: 10px;
}

header nav.menu-principal button{
  padding: 12px 22px;
  font-size: 18px;
  background-color: #c8e6c9;
  border: none;
  border-radius: 8px;
}
