header{
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-areas:
    "login sociales sociales"
    "logo branding direccion"
    "menu menu menu";
  gap: 12px;
  padding: 20px;
  background-color: rgb(229,229,255);
}

header nav.login{
  grid-area: login;
  display: grid;
  grid-auto-flow: column;
  justify-self: start;
  gap: 12px;
  font-size: 16px;
}

header nav.sociales{
  grid-area: sociales;
  display: grid;
  grid-auto-flow: column;
  justify-self: end;
  gap: 12px;
  font-size: 16px;
}

header figure.logo{
  grid-area: logo;
  width: 100px;
}

header figure.logo img{
    width: 100%;
    height: auto;
}

header .branding{
  grid-area: branding;
  display: grid;
  align-items: center;
}

header .branding .titulos{
  margin-left: 4%;
}


header .direccion{
  grid-area: direccion;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  align-items: center;
}

header .direccion button{
  padding: 8px 16px;
  font-size: 14px;
  background-color: #c8e6c9;
  border: none;
  border-radius: 8px;
  text-align: center;
  width: 100%;
}

header i.fa-bars{
  display: none;
}

header nav.menu-principal{
  grid-area: menu;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 10px;
}

header nav.menu-principal button{
  padding: 12px 22px;
  font-size: 16px;
  background-color: #c8e6c9;
  border: none;
  border-radius: 8px;
  text-align: center;
}
