/* estructura de un selector css::after 
    nombre_del_selector {
        propiedad1: valor;
        propiedad2: valor;
        propiedad3: valor;
        ...
        propiedadN: valor;
*/
/* selector de tipo (etiqueta html)*/
h1 {
    /* formato a la fuente/letra */

    color: aquamarine;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: oblique;
    text-decoration: overline;
    text-transform: capitalize;
    letter-spacing: 5px;
    /*formato parrafo*/
    text-align: center;
}

p {
    text-align: justify;
    line-height: 1.3;
    text-indent: 20px; /* sangria primera linea */
    margin: 50px;
    /*margin-left: 100px;
    margin-right: 50px;
    margin-top: 100px;
    margin-bottom: 20px;
    margin: 100px,50px,100px,20 px ; /* margen : arriba, derecha abajo izqierda */
    /*margin: 200px, 50 px ; /*margen arriba y abajo y izquierda y derecha*/
    /*border: 2px dotted red;*/
    /*border-left: 2px solid yellow;
    border-top: 4px solid slateblue;*/
    border: 5px solid gold;
    padding: 20px; /*margen interiors*/
    border-radius: 20px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 30 px;
    color: aliceblue;
    background-color: cadetblue;
}