header{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h1{
flex-basis: 30%;
}
header nav{
    flex-wrap: wrap;
    flex-basis: 40%;
    justify-content: space-around;
    align-items: center;
}
header nav a{
    border-radius: 10px;
    padding: 10px;
}
button{
    flex-basis: 25%;
}
main{
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    display: flex;
}
main section.menu-lateral{
    flex-basis: 100%;
    margin: 0 10px 0 0;
}
main section.contenido-principal{
    flex-basis: 100%;
    margin: 0 0 0 10px;
}
main aside{
    flex-basis: 100%;
    margin: 0 0 0 10px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
footer section{
    flex-basis: 45%;
}
footer section.redes-sociales h3{
    text-align: left;
}
footer section.informacion-contacto h3{
    text-align: center;
}
footer nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer nav a{
    border-radius: 10px;
    padding: 10px;
}
